langchain
langchain-community
langchain-openai
chromadb
pypdf
pandas
python-dotenv
streamlit
fastapi
uvicorn
python-multipart
SQLAlchemy 
databases 
asyncpg
pytest
requests
gunicorn
kafka-python
boto3
aiokafka
fastapi[standard]
PyPDF2